<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Nykaa Registration</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'userlogin/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'userlogin/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'userlogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'userlogin/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'userlogin/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'userlogin/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'userlogin/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'userlogin/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'userlogin/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'userlogin/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'userlogin/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url({% static 'userlogin/images/bg-01.jpg' %});">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Register Here
				</span>
				<form class="login100-form validate-form p-b-33 p-t-5" method="post" action="{% url 'save_user' %}" enctype="multipart/form-data" name="myform" onsubmit="return myfunction()">
				{% csrf_token %}

					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<input class="input100" type="text" name="username" placeholder="User name">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Enter email">
						<input class="input100" type="email" name="email" placeholder="Email">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="pass1" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter confirm password">
						<input class="input100" type="password" name="pass2" placeholder="Confirm Password">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Upload profile">
						<input class="input100" type="file" name="image" placeholder="Profile Image">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="container-login100-form-btn m-t-32">
						<button type="submit" class="login100-form-btn">Register</button>
					</div>

					<div class="container-login100-form-btn m-t-32">
						<a href="{% url 'user_login' %}">Login Here</a>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{% static 'userlogin/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'userlogin/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'userlogin/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'userlogin/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'userlogin/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'userlogin/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'userlogin/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'userlogin/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'userlogin/js/main.js' %}"></script>

	<script>
        function myfunction()
            {
                p1 = document.myform.pass1.value;
                p2 = document.myform.pass2.value;
                if(p1.length<8 & p2.length<8)
                {
                    alert("Password must contain atleast 8 characters")
                    return false;
                }

                else if(p1==p2)
                {
                    return true;
                }
                else
                {
                    alert("Password doesn't match")
                    return false;
                }
            }
    </script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% if messages %}
        {% for i in messages %}
            {% if i.tags == 'success' %}
            <script>
                swal('{{i}}','','success')
            </script>
            {% elif i.tags == 'warning' %}
             <script>
                swal('{{i}}','','warning')
            </script>
            {% elif i.tags == 'error' %}
             <script>
                swal('{{i}}','','error')
            </script>
            {% else %}
             <script>
                swal('{{i}}','','info')
            </script>
            {% endif %}
        {% endfor %}
    {% endif %}

</body>
</html>